In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('kaggle competitions download -c competitive-data-science-predict-future-sales'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
'''import os;
os.listdir('/kaggle/working')'''

"import os;\nos.listdir('/kaggle/working')"

In [3]:

import pandas as pd 
df_item_category = pd.read_csv('/kaggle/input/competitive-data-science-predict-future-sales/item_categories.csv')

In [4]:
df_item_category

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]

In [5]:
df_items=pd.read_csv('/kaggle/input/competitive-data-science-predict-future-sales/items.csv')

In [6]:
df_items

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

In [7]:
df_sales_train=pd.read_csv("/kaggle/input/competitive-data-science-predict-future-sales/sales_train.csv")

In [8]:
df_sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [9]:
df_sample_submission=pd.read_csv('/kaggle/input/competitive-data-science-predict-future-sales/sample_submission.csv')

In [10]:
df_sample_submission

            ID  item_cnt_month
0            0             0.5
1            1             0.5
2            2             0.5
3            3             0.5
4            4             0.5
...        ...             ...
214195  214195             0.5
214196  214196             0.5
214197  214197             0.5
214198  214198             0.5
214199  214199             0.5

[214200 rows x 2 columns]

In [11]:
df_shops=pd.read_csv('/kaggle/input/competitive-data-science-predict-future-sales/shops.csv')

In [12]:
df_shops

                                          shop_name  shop_id
0                     !Якутск Орджоникидзе, 56 фран        0
1                     !Якутск ТЦ "Центральный" фран        1
2                                  Адыгея ТЦ "Мега"        2
3                    Балашиха ТРК "Октябрь-Киномир"        3
4                          Волжский ТЦ "Волга Молл"        4
5                            Вологда ТРЦ "Мармелад"        5
6                        Воронеж (Плехановская, 13)        6
7                            Воронеж ТРЦ "Максимир"        7
8                      Воронеж ТРЦ Сити-Парк "Град"        8
9                                 Выездная Торговля        9
10                       Жуковский ул. Чкалова 39м?       10
11                       Жуковский ул. Чкалова 39м²       11
12                              Интернет-магазин ЧС       12
13                              Казань ТЦ "Бехетле"       13
14                          Казань ТЦ "ПаркХаус" II       14
15                             Калуга ТРЦ "XXI век"       15
16                                 Коломна ТЦ "Рио"       16
17                    Красноярск ТЦ "Взлетка Плаза"       17
18                             Красноярск ТЦ "Июнь"       18
19                            Курск ТЦ "Пушкинский"       19
20                              Москва "Распродажа"       20
21                           Москва МТРЦ "Афи Молл"       21
22                               Москва Магазин С21       22
23                 Москва ТК "Буденовский" (пав.А2)       23
24                 Москва ТК "Буденовский" (пав.К7)       24
25                              Москва ТРК "Атриум"       25
26                      Москва ТЦ "Ареал" (Беляево)       26
27                   Москва ТЦ "МЕГА Белая Дача II"       27
28                  Москва ТЦ "МЕГА Теплый Стан" II       28
29               Москва ТЦ "Новый век" (Новокосино)       29
30                           Москва ТЦ "Перловский"       30
31                          Москва ТЦ "Семеновский"       31
32                       Москва ТЦ "Серебряный Дом"       32
33                                Мытищи ТРК "XL-3"       33
34                             Н.Новгород ТРЦ "РИО"       34
35                      Н.Новгород ТРЦ "Фантастика"       35
36            Новосибирск ТРЦ "Галерея Новосибирск"       36
37                            Новосибирск ТЦ "Мега"       37
38                                   Омск ТЦ "Мега"       38
39            РостовНаДону ТРК "Мегацентр Горизонт"       39
40  РостовНаДону ТРК "Мегацентр Горизонт" Островной       40
41                           РостовНаДону ТЦ "Мега"       41
42                           СПб ТК "Невский Центр"       42
43                                  СПб ТК "Сенная"       43
44                              Самара ТЦ "Мелодия"       44
45                             Самара ТЦ "ПаркХаус"       45
46                            Сергиев Посад ТЦ "7Я"       46
47                           Сургут ТРЦ "Сити Молл"       47
48                     Томск ТРЦ "Изумрудный Город"       48
49                            Тюмень ТРЦ "Кристалл"       49
50                               Тюмень ТЦ "Гудвин"       50
51                        Тюмень ТЦ "Зеленый Берег"       51
52                             Уфа ТК "Центральный"       52
53                                 Уфа ТЦ "Семья" 2       53
54                                  Химки ТЦ "Мега"       54
55                         Цифровой склад 1С-Онлайн       55
56                             Чехов ТРЦ "Карнавал"       56
57                          Якутск Орджоникидзе, 56       57
58                          Якутск ТЦ "Центральный"       58
59                           Ярославль ТЦ "Альтаир"       59

In [13]:
df_test=pd.read_csv('/kaggle/input/competitive-data-science-predict-future-sales/test.csv')

In [14]:
df_test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [15]:
# now we should check for NaNs in data 
df_items.isnull().sum().sum()

0

In [16]:
df_items.notna().sum()

item_name           22170
item_id             22170
item_category_id    22170
dtype: int64

In [17]:
df_items.describe()

           item_id  item_category_id
count  22170.00000      22170.000000
mean   11084.50000         46.290753
std     6400.07207         15.941486
min        0.00000          0.000000
25%     5542.25000         37.000000
50%    11084.50000         40.000000
75%    16626.75000         58.000000
max    22169.00000         83.000000

#So we can find that there is no NA value in the data set of df_items  and ansd item category . Thi will help us to omit the data preprocessing for our system files

In [18]:
df_shops.isna().sum()# no nan are  in shops item category aand items

shop_name    0
shop_id      0
dtype: int64

In [19]:
df_shops.notna().sum()

shop_name    60
shop_id      60
dtype: int64

In [20]:
df_shops_re=df_shops.iloc[:,1]

In [21]:
df_shops_re

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
Name: shop_id, dtype: int64

In [22]:
df_sales1=df_sales_train.iloc[:,[2,3,4,5]]

In [23]:
df_sales1

         shop_id  item_id  item_price  item_cnt_day
0             59    22154      999.00           1.0
1             25     2552      899.00           1.0
2             25     2552      899.00          -1.0
3             25     2554     1709.05           1.0
4             25     2555     1099.00           1.0
...          ...      ...         ...           ...
2935844       25     7409      299.00           1.0
2935845       25     7460      299.00           1.0
2935846       25     7459      349.00           1.0
2935847       25     7440      299.00           1.0
2935848       25     7460      299.00           1.0

[2935849 rows x 4 columns]

In [24]:
df_sales1.isna().sum()

shop_id         0
item_id         0
item_price      0
item_cnt_day    0
dtype: int64

In [25]:
(df_sales1.item_cnt_day<0).sum()# we can say that around 7356 nof of cells have <0 values

7356

In [26]:
(df_sales1.item_price<0).sum()# we can see that out of all the prices one cell has negative value as price which is  not realistic need to be replaced

1

In [27]:
df_sales1[df_sales1.item_price<0]=0

<ipython-input-27-265bc8d7336d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales1[df_sales1.item_price<0]=0

In [28]:
(df_sales1.item_price<0).sum()# we have already concludede that all the columns have been filled with 0 where  the item price<0

0

In [29]:
df_sales1[df_sales1.item_cnt_day<0]=0

<ipython-input-29-66a2e3d64e6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales1[df_sales1.item_cnt_day<0]=0

In [30]:
(df_sales1.item_cnt_day<0).sum()

0

In [31]:
df_sales1.item_cnt_day# we have cleared all the negative values with 0.

0          1.0
1          1.0
2          0.0
3          1.0
4          1.0
          ...
2935844    1.0
2935845    1.0
2935846    1.0
2935847    1.0
2935848    1.0
Name: item_cnt_day, Length: 2935849, dtype: float64

In [32]:
df_sales1

         shop_id  item_id  item_price  item_cnt_day
0             59    22154      999.00           1.0
1             25     2552      899.00           1.0
2              0        0        0.00           0.0
3             25     2554     1709.05           1.0
4             25     2555     1099.00           1.0
...          ...      ...         ...           ...
2935844       25     7409      299.00           1.0
2935845       25     7460      299.00           1.0
2935846       25     7459      349.00           1.0
2935847       25     7440      299.00           1.0
2935848       25     7460      299.00           1.0

[2935849 rows x 4 columns]

In [33]:
# can we club monthwise data 
df_sales_train=pd.concat([df_sales_train.date,df_sales1],axis=1,ignore_index=False)

In [34]:
df_sales_train

               date  shop_id  item_id  item_price  item_cnt_day
0        02.01.2013       59    22154      999.00           1.0
1        03.01.2013       25     2552      899.00           1.0
2        05.01.2013        0        0        0.00           0.0
3        06.01.2013       25     2554     1709.05           1.0
4        15.01.2013       25     2555     1099.00           1.0
...             ...      ...      ...         ...           ...
2935844  10.10.2015       25     7409      299.00           1.0
2935845  09.10.2015       25     7460      299.00           1.0
2935846  14.10.2015       25     7459      349.00           1.0
2935847  22.10.2015       25     7440      299.00           1.0
2935848  03.10.2015       25     7460      299.00           1.0

[2935849 rows x 5 columns]

In [35]:
type(df_sales_train.date[0])# we can see that the date is in the form of a string . Then how to convert into date time format

# convert to date
df_sales_train['date'] = pd.to_datetime(df_sales_train['date'],format = '%d.%m.%Y')

In [36]:
df_sales_train

              date  shop_id  item_id  item_price  item_cnt_day
0       2013-01-02       59    22154      999.00           1.0
1       2013-01-03       25     2552      899.00           1.0
2       2013-01-05        0        0        0.00           0.0
3       2013-01-06       25     2554     1709.05           1.0
4       2013-01-15       25     2555     1099.00           1.0
...            ...      ...      ...         ...           ...
2935844 2015-10-10       25     7409      299.00           1.0
2935845 2015-10-09       25     7460      299.00           1.0
2935846 2015-10-14       25     7459      349.00           1.0
2935847 2015-10-22       25     7440      299.00           1.0
2935848 2015-10-03       25     7460      299.00           1.0

[2935849 rows x 5 columns]

In [37]:
type(df_sales_train.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [38]:
# now i am sorting the values as per the date column
df_sales_train=df_sales_train.sort_values(by='date',ascending=True)

In [39]:
df_sales_train

              date  shop_id  item_id  item_price  item_cnt_day
49800   2013-01-01       18     5823      2500.0           1.0
29784   2013-01-01       27     5573       849.0           1.0
35476   2013-01-01        7     1006       399.0           1.0
8330    2013-01-01       19    17707       899.0           1.0
57384   2013-01-01       14    19548       149.0           1.0
...            ...      ...      ...         ...           ...
2885098 2015-10-31       41    21386       169.0           1.0
2930981 2015-10-31       21      988       199.0           1.0
2885097 2015-10-31       41    21377       169.0           1.0
2930993 2015-10-31       22    10207      1199.0           1.0
2928850 2015-10-31       24     3042      3199.0           1.0

[2935849 rows x 5 columns]

In [40]:
# now i need to re organise the index numbers, but befor ethat i am going to remove the index 
df_sales_train.reset_index(drop=True,inplace=True)

In [41]:
df_sales_train

              date  shop_id  item_id  item_price  item_cnt_day
0       2013-01-01       18     5823      2500.0           1.0
1       2013-01-01       27     5573       849.0           1.0
2       2013-01-01        7     1006       399.0           1.0
3       2013-01-01       19    17707       899.0           1.0
4       2013-01-01       14    19548       149.0           1.0
...            ...      ...      ...         ...           ...
2935844 2015-10-31       41    21386       169.0           1.0
2935845 2015-10-31       21      988       199.0           1.0
2935846 2015-10-31       41    21377       169.0           1.0
2935847 2015-10-31       22    10207      1199.0           1.0
2935848 2015-10-31       24     3042      3199.0           1.0

[2935849 rows x 5 columns]

In [42]:
df_sales_train['item_cnt_month']=df_sales_train.item_cnt_day*df_sales_train.item_price

In [43]:
df_sales_train

              date  shop_id  item_id  item_price  item_cnt_day  item_cnt_month
0       2013-01-01       18     5823      2500.0           1.0          2500.0
1       2013-01-01       27     5573       849.0           1.0           849.0
2       2013-01-01        7     1006       399.0           1.0           399.0
3       2013-01-01       19    17707       899.0           1.0           899.0
4       2013-01-01       14    19548       149.0           1.0           149.0
...            ...      ...      ...         ...           ...             ...
2935844 2015-10-31       41    21386       169.0           1.0           169.0
2935845 2015-10-31       21      988       199.0           1.0           199.0
2935846 2015-10-31       41    21377       169.0           1.0           169.0
2935847 2015-10-31       22    10207      1199.0           1.0          1199.0
2935848 2015-10-31       24     3042      3199.0           1.0          3199.0

[2935849 rows x 6 columns]

In [44]:
df_sales_train.head(25)

         date  shop_id  item_id  item_price  item_cnt_day  item_cnt_month
0  2013-01-01       18     5823      2500.0           1.0          2500.0
1  2013-01-01       27     5573       849.0           1.0           849.0
2  2013-01-01        7     1006       399.0           1.0           399.0
3  2013-01-01       19    17707       899.0           1.0           899.0
4  2013-01-01       14    19548       149.0           1.0           149.0
5  2013-01-01       27     5574       699.0           2.0          1398.0
6  2013-01-01        8    16993       399.0           1.0           399.0
7  2013-01-01       28     6468       449.0           1.0           449.0
8  2013-01-01       19    13071       499.0           1.0           499.0
9  2013-01-01       51     6450       483.0           1.0           483.0
10 2013-01-01       54    12370       149.0           1.0           149.0
11 2013-01-01       42    15702       549.0           1.0           549.0
12 2013-01-01       42      413       249.0           1.0           249.0
13 2013-01-01       19    12266       129.0           1.0           129.0
14 2013-01-01       54    13431     11489.7           1.0         11489.7
15 2013-01-01       54     8709       349.0           1.0           349.0
16 2013-01-01       54    20144       249.0           1.0           249.0
17 2013-01-01       27     6156       399.0           1.0           399.0
18 2013-01-01       51    15070       183.0           1.0           183.0
19 2013-01-01       19    13102      1290.0           1.0          1290.0
20 2013-01-01       46    16409       149.0           1.0           149.0
21 2013-01-01       28     6588       549.0           1.0           549.0
22 2013-01-01       54    10458       298.0           1.0           298.0
23 2013-01-01       46    16451       499.0           1.0           499.0
24 2013-01-01       14    16203       599.0           1.0           599.0

In [45]:
#Now our dataset is ready for modelling WE ARE USING THE support vector machine problem
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df_sales_train.iloc[:,1:4],df_sales_train.item_cnt_month,test_size=0.3)

In [46]:
from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor(n_estimators=150,random_state=16)

In [47]:
model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=150, random_state=16)

In [48]:
model.score(X_test,y_test)

0.3114242264383408

In [49]:
x_predicted=model.predict(X_test)

In [50]:
x_predicted

array([ 699.        , 3300.        , 2131.08585185, ...,  150.8370955 ,
        265.69239453,  419.        ])

In [51]:
x_predicted=pd.DataFrame(x_predicted)

In [52]:
x_predicted

                  0
0        699.000000
1       3300.000000
2       2131.085852
3       1533.115069
4        250.000000
...             ...
880750   738.573602
880751   425.628906
880752   150.837096
880753   265.692395
880754   419.000000

[880755 rows x 1 columns]

In [53]:
#x_predicted.columns.values[0]='0'
#column_index_to_rename = 0
#new_column_name = 'item_cnt_month'
x_predicted.rename(columns={x_predicted.columns[0]: 'item_cnt_month'}, inplace=True)

In [54]:


x_predicted['ID'] = range(0, len(x_predicted) )

x_predicted

        item_cnt_month      ID
0           699.000000       0
1          3300.000000       1
2          2131.085852       2
3          1533.115069       3
4           250.000000       4
...                ...     ...
880750      738.573602  880750
880751      425.628906  880751
880752      150.837096  880752
880753      265.692395  880753
880754      419.000000  880754

[880755 rows x 2 columns]

In [55]:
x_predicted_new=x_predicted.iloc[:,[1,0]]

In [56]:
x_predicted_new

            ID  item_cnt_month
0            0      699.000000
1            1     3300.000000
2            2     2131.085852
3            3     1533.115069
4            4      250.000000
...        ...             ...
880750  880750      738.573602
880751  880751      425.628906
880752  880752      150.837096
880753  880753      265.692395
880754  880754      419.000000

[880755 rows x 2 columns]

x_predicted_new

In [57]:
x_predicted_new.to_csv('submission.csv',index=False)